body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.1rem;
    color: #666;
}

/* Upload Form Styles */
.upload-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
}

.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px 20px 20px 20px;
}

button:hover {
    background-color:#1d6db8;
}

/* Results Section */
.results {
    margin-top: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.result-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;

    text-align: center;
}

.result-text {
    font-size: 1.5rem;
    color: #28a745;
    margin-bottom: 10px;
}

.confidence-text {
    font-size: 1.2rem;
    color:black;
    margin-bottom: 20px;
}

.result-card img {
    max-width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}